
@{
    ViewData["Title"] = "Returns";

    var returns = (IEnumerable<Receipt>)ViewData["returns"];
}

<div class="container p-3 text-light">

    <div class="row mb-3">
        <div class="col-6 mb-3">
            <div class="card-gray p-3">
                <form>
                    <div class="row">
                        <div class="col-12 mb-2"><h2>Search</h2></div>
                        <div class="col-12 mb-2">
                            <input type="text" name="pharmacyNameSearchTerm" id="" class="form-control" placeholder="Pharmacy name">
                        </div>
                        <div class="col-12 mb-2">
                            <input type="date" name="dateForSearch" id="" class="form-control" placeholder="Day">
                        </div>
                        <div class="col-12 mb-2">
                            <input type="submit" value="Search" name="" id="" class="btn btn-outline-green w-100" placeholder="Year">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card-gray p-3 h-100 d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-rotate-left me-2 text-white fa-spin-reverse" style="font-size: 5rem;"></i>
                <h2 class="display-4">Returns</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-gray">
                <table class="text-center w-100">
                    <thead class="border-bottom">
                        <tr>
                            <th><p class="mx-2 my-3">Pharmacy name</p></th>
                            <th><p class="mx-2 my-3">Total amount</p></th>
                            <th><p class="mx-2 my-3">Total price</p></th>
                            <th><p class="mx-2 my-3">Date</p></th>
                            <th><p class="mx-2 my-3">Details</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in returns)
                        {
                        <tr>
                            <td><p class="mx-2 my-3">@item.Sender.Inventory.Name</p></td>
                            <td><p class="mx-2 my-3">@item.TotalAmount</p></td>
                            <td><p class="mx-2 my-3">@Math.Truncate(item.TotalPrice) EGP</p></td>
                            <td><p class="mx-2 my-3">@item.Date.ToString("dd/MM/yyyy")</p></td>
                            <td><a href="#" class="btn btn-outline-warning">Details</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>