
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3 text-light">
    <h2 class="display-3 mb-3">Notifications</h2>
    <div class="row">
        <div class="col-12">
            <div class="card-gray">
                <table class="text-center w-100">
                    <thead class="border-bottom">
                        <tr>
                            <th><p class="mx-2 my-3">Pharmacy name</p></th>
                            <th><p class="mx-2 my-3">Medicine name</p></th>
                            <th><p class="mx-2 my-3">Average of shortage</p></th>
                            <th><p class="mx-2 my-3">Recommend Decision</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p class="mx-2 my-3">Wael Samir</p></td>
                            <td><p class="mx-2 my-3">Asprine</p></td>
                            <td><p class="mx-2 my-3">300</p></td>
                            <td class="position-relative">
                                <button class="btn-recommend btn btn-outline-warning">Recommend</button>
                                <div class="wael position-absolute form-control p-3" style="display: none; top: 101%;left: 0;">
                                    <p>Send <span class="text-main">300 Item</span> of asprine to Wael Samir</p>
                                    <div class="d-flex flex-row-reverse">
                                        <button class="btn-cancel btn btn-outline-warning">Cancel</button>
                                        <a href="#" class="btn btn-outline-green me-2">Send</a>
                                    </div>
                                </div>
                                <script>
                                    $('.btn-recommend').on('click',()=>{
                                        if($('.wael').css('display') == 'none')
                                            $('.wael').slideDown()
                                        else
                                            $('.wael').slideUp()
                                    })
                                    $('.btn-cancel').on('click', ()=>{
                                        $('.wael').slideUp()
                                    })
                                </script>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
